.pytest_cache
__pycache__
.coverage
htmlcov
.vscode
.DS_Store
*.py[cod]
*$py.class

# data files
projekti-sovellus/data/database.sqlite
projekti-sovellus/data/projects.csv
projekti-sovellus/data/test-database.sqlite
projekti-sovellus/data/test-projects.csv
